<!DOCTYPE html>
<html>
<head>
  <title>HippyCoop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<center><body>
<h3>Hippy Co-op</h3>
<img src="../../assets/hippy_chick.png" alt="Hippy Chicken" style="width:200px;height:200px">

<%= yield %>

</body></center>
</html>
